torch==2.0.1
diffusers==0.25.1
transformers==4.36.0
accelerate==0.23.0
opencv-python-headless==4.8.1.78
Pillow==10.0.1
numpy==1.26.0
mediapipe==0.10.8
facexlib==0.3.0
spiga==0.0.6
requests==2.31.0
safetensors==0.4.0
huggingface-hub==0.20.3
tokenizers==0.15.0 