name: Deploy to Replicate

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install Cog
      run: |
        sudo curl -o /usr/local/bin/cog -L https://github.com/replicate/cog/releases/latest/download/cog_`uname -s`_`uname -m`
        sudo chmod +x /usr/local/bin/cog

    - name: Login to Replicate
      run: |
        echo ${{ secrets.REPLICATE_API_TOKEN }} | cog login --token-stdin

    - name: Push to Replicate (using Replicate registry)
      run: |
        cog push r8.im/humaniacul/stable-makeup-original
